{
    "port": 8000,
    "user_name": "example",
    "user_pass": "changeMeToaBetterPassord",
    "output_names": {
        "0": "Haustür",
        "1": "Garagentor",
        "7": "Gartenlicht"
    },
    "input_names": {
        "0": "Türöffner",
        "2": "Klingel",
        "3": "HA Event"
    },
    "input_actions": {
        "0": [
            {
                "type": "output",
                "target": 0,
                "mode": "impulse",
                "duration": 3.5
            },
            {
                "type": "webhook",
                "url": "https://log.system/door_opened"
            }
        ],
        "1": {
            "type": "output",
            "target": 7,
            "mode": "toggle"
        },
        "2": [
            {
                "type": "webhook",
                "url": "https://api.telegram.org/bot<DEIN_BOT_TOKEN>/sendMessage",
                "method": "POST",
                "payload": {
                    "chat_id": "<DEINE_CHAT_ID>",
                    "text": "🔔 Es hat an der Haustür geklingelt!"
                }
            }
        ],
        "3": [
            {
                "type": "webhook",
                "url": "https://homeassistant.local:8123/api/webhook/some_hook_id",
                "method": "POST",
                "verify_ssl": false
            }
        ]
    },
    "impulse_duration": 2.0,
    "update_interval": 0.5,
    "log_file": "piface.log",
    "log_history_size": 50
}
