{
    "port": 8000,
    "user_name": "example",
    "user_pass": "changeMeToaBetterPassord",
    "impulse_duration": 2.0,
    "update_interval": 0.5,
    "log_file": "piface.log",
    "log_history_size": 50
}
